/* app css stylesheet */

body {
  padding-top: 50px;
}

.pagination a {
    cursor: pointer;
}

.chart {
    float:left;
    width: 100%;
    height:200px;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}
