/* app css stylesheet */

body {
  padding-top: 50px;
}

.pagination a {
    cursor: pointer;
}

.chart {
    float:left;
    width: 100%;
    height:200px;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

ul.la {
    list-style-type: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
li.la:before {
    content: "•  ";
}

/* circle-text, taken from http://codeitdown.com/css-circles/ */

.circle-text {
    width:150px;
    margin: 0 auto;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #6B94CA;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    font-size: 60px;
    text-align:center;
    color:white;
}
