<!-- Header -->
<div ng-include src="'partials/header2.html'"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#/local2/{{currentLocalArea}}/{{localAreaId}}">{{currentLocalArea}}</a></li>
                <li><a href="#/caseTypeInfo/{{caseTypeId}}">Case Type Info</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Vancouver's {{currentLocalArea}}</h1>

            <h3>Case Type Details: {{caseTypeInfo.caseTypeName}}</h3>

            Department handling this case type: {{caseTypeInfo.deptName}}<br/>
            Division handling this case type: {{caseTypeInfo.divName}}<br/>
            <p/>

            <div class="row section">
                <div class="col-md-8">
                    <highchart id="chart1" config="chartConfig"></highchart>
                </div>
                <div class="col-md-4">
                    <strong>Select Area(s) to compare:</strong>
                    <div ng-repeat="la in localAreasForCheckList">
                        <input type="checkbox" ng-change="processSelectedLocalAreasToCompare()" ng-model="la.checked">{{la.value}}</input>
                    </div>
                    <button ng-click="resetChartAndChecklist()">Reset</button>
                </div>
        </div>

            <!--
            <div>
                Compare with another Local Area:
                <select ng-model="localAreaToCompare"
                        ng-options="la.localAreaName for la in localAreas">
                </select>
                <button ng-click="addChartForSelectedLA()">Add</button>
                <button ng-click="resetChart()">Reset</button>
            </div>
            -->

            <div ng-include src="'partials/footer.html'"></div>

        </div>
    </div>
</div>