<!-- Header -->
<div ng-include src="'partials/header2.html'"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#/local2/{{currentLocalArea}}">{{currentLocalArea}}</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Vancouver's {{currentLocalArea}}</h1>

            <div class="row">
                <div class="col-sm-4">
                    <div class="circle-text">
                        <div>{{percentIssues}}%</div>
                    </div>
                    <h4 class="text-center text-info" popover="{{xx2}} cases of total {{xx1}}" popover-trigger="mouseenter">of issues reported<br/>against this area</h4>
                </div>
                <div class="col-sm-4">
                    <div class="circle-text">
                        <div>{{citizenFeedbackRanking}}%</div>
                    </div>
                    <h4 class="text-center text-info" popover="{{tt2}} cases of total {{tt1}} in Citizen Feedback" popover-trigger="mouseenter">In Citizen Feedback</h4>
                </div>
                <div class="col-sm-4">
                    <!--
                    <div class="circle-text">
                        <div>4<sup>th</sup></div>
                    </div>
                    <h4 class="text-center text-info">in issues reported<br/>recently</h4>
                    -->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
            <div class="col-sm-9"> <!-- x1 -->
                <h3>Summary of Reported Cases To Date</h3>
                <table class="table table-condensed table-hover table-bordered table-striped">
                    <thead>
                    <tr ng-class="'header'">
                        <th style="width: 14px" class="no-wrap">Case Type</th>
                        <th style="width: 14px" class="no-wrap">Number of Cases</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="ct in grid.items |
                                   startFrom:(grid.currentPage-1) * grid.pageSize |
                                   limitTo:grid.pageSize">
                        <td>
                            <a href="#/local/{{currentLocalArea}}/{{currentLocalAreaId}}/{{ct.caseTypeId}}">{{ct.caseTypeName}}</a>
                        </td>
                        <td>{{ct.totalCases}}</td>
                    </tr>
                </table>
                <!-- All tab - pagination -->
                <div pagination class="span8 text-center" style="margin-top: 0px;"
                     boundary-links="true"
                     total-items="grid.items.length"
                     max-size="grid.maxSize"
                     items-per-page="grid.pageSize"
                     page="grid.currentPage"
                     ng-model="curPage"
                     num-pages="numPages"
                     class="pagination-sm"
                     previous-text="&lsaquo;"
                     next-text="&rsaquo;"
                     first-text="&laquo;"
                     last-text="&raquo;">
                </div>
            </div> <!-- x1 -->
            <div class="col-sm-3"> <!-- x2 -->
            </div> <!-- x2 -->

            <div class="row">
                <div class="col-sm-12">
                    <div ng-include src="'partials/footer.html'"></div>
                </div>

            </div>

        </div>
    </div>
</div>