<!-- Header -->
<div ng-include src="'partials/header.html'"></div>

<div class="container">
    <div class="row section">
        <div class="col-lg-12">
            <h2>{{contactMsg}}</h2>

            <p>Dwi Faulus  604 132 xxxx email: a@b.com</p>
            <p>Ben Fransen 604 332 xxxx email: b@b.com</p>
            <p>Jatinder Sharma 604 142 xxxx email: c@b.com</p>
            <p>Chris 604 136 xxxx email: d@b.com</p>

        </div>
    </div>

<!-- Footer -->
<div ng-include src="'partials/footer.html'"></div>

</div>
<!-- /.container -->

