<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/about">About</a>
                </li>
                <li><a href="#/contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">

    <div class="row section">
        <div class="col-lg-12">
            <h2>Vancouver's {{currentLocalArea}}</h2>
            <div class="row">
                <div class="col-md-8">
                    <accordion>
                        <accordion-group heading="311 Data" is-open="true">

                            <table class="table table-condensed table-hover table-bordered table-striped">
                                <thead>
                                <tr ng-class="'header'">
                                    <th style="width: 14px" class="no-wrap">Case Type</th>
                                    <th style="width: 14px" class="no-wrap">Number of Cases</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="ct in grid.items |
                                   orderBy:'numCases':true |
                                   startFrom:(grid.currentPage-1) * grid.pageSize |
                                   limitTo:grid.pageSize">
                                    <td>{{ct.caseTypeName}}</td>
                                    <td>{{ct.numCases}}</td>
                                </tr>
                            </table>

                            <!--
                            <pre>Total Items: {{grid.items.length}}</pre>
                            <pre>The selected page no: {{grid.currentPage}} / {{numPages}}</pre>
                            -->
                            <!-- All tab - pagination -->
                            <div pagination class="span8 text-center" style="margin-top: 0px;"
                                 boundary-links="true"
                                 total-items="grid.items.length"
                                 max-size="grid.maxSize"
                                 items-per-page="grid.pageSize"
                                 page="grid.currentPage"
                                 ng-model="curPage"
                                 num-pages="numPages"
                                 class="pagination-sm"
                                 previous-text="&lsaquo;"
                                 next-text="&rsaquo;"
                                 first-text="&laquo;"
                                 last-text="&raquo;">
                            </div>
                        </accordion-group>
                        <accordion-group heading="Category A">
                            This is category A information for {{currentLocalArea}}
                        </accordion-group>
                        <accordion-group heading="Category B">
                            This is category B information for {{currentLocalArea}}
                        </accordion-group>
                    </accordion>
                </div>
                <!-- Right column -->
                <div class="col-md-4">
                    <div class="row">
                        <canvas id="myCanvas" width="400" height="300"></canvas>
                        <script>
                            var canvas = document.getElementById('myCanvas');
                            var context = canvas.getContext('2d');

                            context.beginPath();
                            context.rect(0,0, 400,300);
                            context.fillStyle = 'lightblue';
                            context.fill();
                            context.lineWidth = 1;
                            context.strokeStyle = 'blue';
                            context.stroke();
                            context.font = 'italic 20pt Calibri';
                            context.fillStyle = "#fff";
                            context.fillText('Local Area Map Here', 50, 150);
                        </script>
                    </div>
                    <div class="row">
                        <p/>
                        <table class="table table-bordered width:100%">
                            <thead>
                            <tr ng-class="'header'">
                                <th style="width: 14px" class="no-wrap">Area and Demographic Information</th>
                            </tr>
                            </thead>
                            <tr>
                                <td>TBD</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Swiftavenue 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->


